/* ------------------ GLOBAL ------------------ */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  width: 100%;
  overflow-x: hidden; /* prevents horizontal scrollbar */
}

/* ------------------ MAIN SECTION ------------------ */
.main {
  position: relative;
  width: 100%;
  height: 120vh;
  background: url(assets/images/bg.jpg) center/cover no-repeat;
}

.box {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.7);
}

.cover {
  height: 120px;
  width: 100%;
}

/* ------------------ NAVBAR ------------------ */
nav {
  height: 80px;
  max-width: 60vw;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav img {
  width: 148px;
}

.btn1,
.btn2 {
  height: 32px;
  border-radius: 3px;
  color: #fff;
}

.btn1 {
  width: 124px;
  background: rgba(255, 255, 255, 0.05);
  border: 1px solid rgba(255, 255, 255, 0.4);
}

.btn2 {
  width: 72px;
  background: red;
  border: none;
  margin-left: 15px;
}

/* ------------------ HERO SECTION ------------------ */
.hero {
  position: relative;
  top: -150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 23px;
  height: 100%;
  color: #fff;
  text-align: center;
}

.hero h1 {
  font-size: 2.5rem;
  height: 100px;
}

.hero h2 {
  font-size: 0.8rem;
  font-weight: 400;
}

.hero > :nth-child(2) {
  font-size: 0.8rem;
  font-weight: 400;
}

/* ------------------ EMAIL INPUT ------------------ */
.enter-email input {
  height: 56px;
  width: 319px;
  background: rgba(255, 255, 255, 0.05);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 3px;
  padding-left: 12px;
  color: #fff;
  font-size: 15px;
}

.enter-email input::placeholder {
  opacity: 1;
  font-size: medium;
}

.enter-email button {
  height: 56px;
  width: 180px;
  background: red;
  border: none;
  border-radius: 3px;
  color: #fff;
  margin-left: 2px;
  font-size: 1rem;
}

/* ------------------ CURVE LINE & TREND ------------------ */
.curve-line {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  z-index: 1;
}

.trend {
  position: absolute;
  top: 75px;
  left: 16%;
  transform: translateX(-50%);
  height: 50px;
  font-size: 24px;
  font-weight: 600;
}

/* ------------------ MAIN CONTENT ------------------ */
.main-container {
  width: 100%;
  height: 800px;
  background: black;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

/* ------------------ SCROLLBAR SECTION ------------------ */
.scrollbar {
  width: 78vw;
  height: 250px;
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

/* SCROLL BUTTONS */
.scroll-btn {
  width: 50px;
  height: 120px;
  background: rgba(255, 255, 255, 0.1);
  border: none;
  color: #ffffffc7;
  font-size: larger;
  border-radius: 8px;
  cursor: pointer;
}

/* SCROLLABLE BOXES */
.scroll-container {
  margin: 100px auto;
  display: flex;
  max-width: 100%;
  overflow-x: auto;
  scrollbar-width: none;
}

.scroll-container::-webkit-scrollbar {
  display: none;
}

.boxes {
  display: flex;
  align-items: center;
  justify-content: center;
}

.child {
    width: 180px;
    height: 250px;
    border-radius: 10px;
    margin-left: 15px;
    background: palevioletred;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* ------------------ FOOTER ------------------ */
.foot {
  width: 100%;
  height: 200px;
  background: rgb(177, 118, 42);
  color: #fff;
}
