* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

.main {
  background-image: url(assets/images/bg.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: max(1200px, 100vw);
  background-size: cover;   
  height: 120vh;
  width: 100%;
  position: relative;
}

.box {
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
}

.cover {
  height: 120px;
  width: 100%;
}

nav {
  height: 80px;
  display: flex;
  max-width: 60vw;
  margin: auto;
  align-items: center;
  justify-content: space-between;
}

nav img {
  width: 148px;
  position: relative;
}

.btn1 {
  height: 32px;
  width: 124px;
  background-color: rgba(255, 255, 255, 0.05);
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: 3px;
  color: #ffffff;
}

.btn2 {
  height: 32px;
  width: 72px;
  background-color: rgb(255, 0, 0);
  border: none;
  border-radius: 3px;
  color: #ffffff;
  margin-left: 15px;
}

.hero {
  height: 100%;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 23px;
  position: relative;
  top: -150px;
}

.hero > :nth-child(1) {
  height: 128px;
  width: 508px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.hero > :nth-child(1) h1 {
  font-size: 2.5rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100px;
}

.hero > :nth-child(1) h2 {
  font-size: 0.8rem;
  font-weight: 400;
}

.hero > :nth-child(2) {
  font-size: 0.8rem;
  font-weight: 400;
}

.enter-email :first-child {
  height: 56px;
  width: 319px;
  background: none;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 3px;
  background-color: rgba(255, 255, 255, 0.05);
  padding-left: 12px;
  color: #ffffff;
  font-size: 15px;
}

.enter-email input::placeholder {
    margin-left: 10px;
    opacity: 1;    
    font-size: medium;     
}


.enter-email :nth-child(2) {
  height: 56px;
  width: 180px;
  background-color: red;
  border: none;
  border-radius: 3px;
  color: #ffffff;
  margin-left: 2px;
  font-size: 1rem;
}


.curve-line {
    position: absolute; 
    width: 100%; 
    display: flex;
    bottom: 0px;   
    z-index: 1;              
}

.trend {
  height: 50px;
  width: 600px;
  position: absolute;
  top: 70px;
  margin-left: 25px;
  font-size: 20px;
  font-weight: 600;
}

/* .main-container {
  height: 1000px;
  background-color: black;
  width: 100vw;
  display: flex;
  justify-content: center;
}

.boxes {
  background-color: blueviolet;
  height: 200px;
  gap: 5px;
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-evenly;
}

.child {
  background-color: palevioletred;
  height: 200px;
  width: 100px;
} */